.host {
    border: none;
    padding: 0;
}

/* .host::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.753);
} */

.host::before {
    content: '';
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0);
    opacity: 0.753;
    z-index: 10;
}

.main {
    border-radius: 10px;
    background-color: white;
    position: relative;
    z-index: 20;
    border-width: 2px;
    border-style: solid;
    border-color: gainsboro;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
    color: lightslategray;
}

.section {
    padding: 0 1rem;
}

.footer {
    margin: 0;
    padding: 0.4rem 1rem;
    border-top: 2px solid gainsboro;
    display: flex;
    justify-content: center;
}

.footer p {
    margin: 0;
    font-style: italic;
    font-weight: 600;
    color: lightslategray;
}
